.inputWrapper {
  position: relative;
  display: block;
  width: 100%;
  max-width: 60rem;
  height: 5rem;
  margin: 1.6rem 0 0.8rem 0;
  color: var(--text-color);
}

.customInput {
  width: 100%;
  height: 100%;
  padding: 0.8rem;
  font: inherit;
  font-size: 2rem;
  font-size: 1.6rem;
  color: inherit;
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
}

.inputBorder {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.customInput:focus {
  outline: 0;
  background-color: color-mix(in srgb, var(--primary-light) 3%, transparent);
}

.customInput:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.inputWrapper:has(.customInput:disabled) .inputBorder {
  opacity: 0.3;
}
