.container-fluid {
  max-width: auto;
}

.containerVertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 98rem;
  margin: 64px 0;
}

.containerHorizontal {
  width: 100%;
  max-width: 98rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.2rem;
}
